<div *ngIf="item" class="py-3">
    <mat-card class="example-card">
        <img mat-card-image height="300px" width="300px" src="{{ item.photoUrl }}" alt="{{ item.name }}">
        <mat-card-content>
            <p>
                <b>Name:</b> {{ item.name }}
            </p>
            <p class="description_p">
                <b>Description:</b> {{ item.description }}
            </p>
            <div class="row">
                <div class="col-4 ">
                    <p class="my-2">
                        <b>Price:</b> {{ item.price }}
                    </p>
                </div>
                <div class="col-8">
                    <mat-form-field>
                        <mat-label>Select quantity</mat-label>
                        <mat-select [(value)]="number">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="justify-content-around row">
                <div class="col-4">
                    <button (click)="onCart()" class="btn btn-block" mat-raised-button>
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </div>
                <div class="col-4">
                    <button (click)="onFavourite()" class="btn btn-block" mat-raised-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
