<div class="container">
    <h2>Sing Up</h2>
    <hr>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" name="email" id="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ngModel>
        </div>
        <button mat-raised-button class="btn" color="primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
    <hr>
    <a routerLink="/signin" >Already have an account?  Sign In</a>
</div>
