<div class="container">
    <h2 mat-dialog-title>{{title}}</h2>

    <mat-dialog-content [formGroup]="form">
        <div class="mx-auto img" style="width: 200px; height: 200px; margin: 15px; border: 1px solid">
            <div *ngIf="image">
                <img [src]="image"
                     alt="Picked picture">
            </div>
        </div>
        <input type="file" hidden #upload (change)="uploadToLocal($event)" accept=".png,.jpg"/>
        <mat-progress-bar class="mt-2 mb-2" mode="determinate"
                          [value]="(uploadProgress | async)"></mat-progress-bar>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <button class="btn btn-block mat-raised-button" (click)="upload.click()">Choose</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-block mat-raised-button mat-primary" (click)="this.uploadToFS()">Upload
                    </button>
                </div>
            </div>
        </div>
        <br>
        <mat-form-field class="w-100">
                <input matInput
                       placeholder="Product Name"
                       formControlName="prodName">
        </mat-form-field>
        <br>
        <mat-form-field class="w-100">
                <textarea matInput
                          placeholder="Description"
                          formControlName="description">
                </textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="w-100">
                <input matInput
                       placeholder="Price"
                       formControlName="price">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="row justify-content-center">


        <div class="col-6">
            <button class="btn btn-block mat-raised-button" (click)="this.close()">Close</button>
        </div>
        <div class="col-6">
            <button class="btn btn-block mat-raised-button mat-primary" (click)="this.save()">Save</button>
        </div>


    </mat-dialog-actions>
</div>
