<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput
               placeholder="Product Name"
               formControlName="prodName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput
               placeholder="Description"
               formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput
               placeholder="Price"
               formControlName="price">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <div class="row justify-content-center">
        <div class="col-6">
            <button class="btn btn-block mat-raised-button" (click)="this.close()">Close</button>
        </div>
        <div class="col-6">
            <button class="btn btn-block mat-raised-button mat-primary" (click)="this.save()">Save</button>
        </div>
    </div>


</mat-dialog-actions>
