<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a href="#" class="navbar-brand">SHOPPING WEB APP</a>
    <div class="navbar-nav ml-auto">
        <a routerLink="signin" class="nav-item nav-link">Login</a>
        <a routerLink="signup" class="nav-item nav-link">Register</a>
    </div>
</nav>
<hr>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-3">
            <button type="button" class="btn btn-block btn-outline-secondary">Products</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-block btn-outline-secondary">Favourite</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-block btn-outline-secondary">Cart</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-block btn-outline-dark">Sign in/Admin</button>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
<footer class="footer py-3">
    <div class="container">
        <span class="text-muted">@Memeslam228</span>
    </div>
</footer>
