<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a href="#" class="navbar-brand">SHOPPING WEB APP</a>

    <ng-template [ngIf]="!authService.isAuthenticated()">
        <div class="navbar-nav ml-auto">
            <a routerLink="signin" class="nav-item nav-link">Login</a>
            <a routerLink="signup" class="nav-item nav-link">Register</a>
        </div>
    </ng-template>
    <div class="navbar-nav ml-auto" *ngIf="authService.isAuthenticated()">
        <a href="#" class="navbar-brand">{{ authService.getEmail() }}</a>
        <a class="nav-item nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
    </div>
</nav>
<hr>
<div class="container">
    <div class="row justify-content-around">
        <div class="col">
            <button routerLink="products" mat-raised-button class="btn btn-block">Products</button>
        </div>
        <div class="col">
            <button mat-raised-button class="btn btn-block">Favourite</button>
        </div>
        <div class="col">
            <button mat-raised-button class="btn btn-block">Cart</button>
        </div>
        <div class="col" *ngIf="authService.isAuthenticated()">
            <button routerLink="admin" mat-raised-button class="btn btn-block" color="primary">Admin</button>
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
<footer class="footer py-3">
    <div class="container">
        <span class="text-muted">@Memeslam228</span>
    </div>
</footer>
